<div class="contenedor">
   <form class="form">
      <h1 class="text-center">Ingresoft</h1>
      <hr>
      <div class="form-group">
         <label for="exampleInputEmail1">Usuario:</label>
         <input type="text" class="form-control" id="exampleInputEmail1"placeholder="Escriba su usuario">
         <label for="exampleInputPassword1">Contraseña:</label>
         <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escriba su contraseña">
      </div>
      <br>
      <button type="submit" class="btn btn-outline-secondary btn-block">Ingresar</button>
   </form>
   
   <!-- Cano no borres mis colorsitos >:v me enojo --> 
   <div class="color1"></div>
   <div class="color2"></div>
   
</div>